.wallpaper {
  border-radius: 0;
  margin-top: -10rem;
}

.first-text h2 {
  position: absolute;
  top: 5rem;
  left: 60rem;
  text-align: start;
  width: 31.25rem;
}

.first-section a {
  position: absolute;
  right: 15.5rem;
  top: 37rem;
}

.detail {
  display: inline-block;
  position: relative;
  letter-spacing: 2px;
}

.detail:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-p1);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.detail:hover:after {
  width: 100%;
}

/* Tablets (até 1024px) */
@media (max-width: 1024px) {  
  /* Estilos para tablets */
}

/* Tablets pequenos e celulares grandes (até 991px) */
@media (max-width: 991px) {  
  /* Estilos para tablets pequenos e celulares grandes */
}

/* Celulares médios (até 768px) */
@media (max-width: 768px) {  
  /* Estilos para celulares médios */
}

/* Celulares pequenos (até 600px) */
@media (max-width: 600px) {  
  /* Estilos para celulares pequenos */
}

/* Celulares muito pequenos (até 480px) */
@media (max-width: 480px) {  
  /* Estilos para celulares muito pequenos */
}

/* Celulares extra pequenos (até 375px) */
@media (max-width: 375px) {  
  /* Estilos para iPhone SE e similares */
}

/* Celulares ultra pequenos (até 320px) */
@media (max-width: 320px) {  
  /* Estilos para celulares ultra pequenos */
}