main {
  background-color: #f0f0f0;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

img[src$=".png"] {
  border-radius: 4px;
}

.plano-1 {
  background: var(--cor-12);

}

.plano-1 img {
  display: block;
  width: auto;
  height: 400px;
  object-fit: cover;
  position: relative;
}

.plano-1 .img1 {
  width: 400px;
}

.plano-1 h2 {
  top: 225%;
  z-index: 1;
  left: 17%;
}

.plano-1 div {
  top: 250%;
}

.plano-1 .ac {
  margin-top: -3rem;
}

.partes {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-self: center;
  max-width: fit-content;
  gap: 5rem;
  margin: 5rem;
  height: 70vh;
}

.partes p {
  width: 500px;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(81, 2, 2, 0.384);
  text-shadow: none;
  max-width: 100%;

}

.partes .sup-wpp-box-ap {
  margin: 0;
  padding: 0;
}

.av-fisica {
  grid-template-columns: 1fr 5px 1fr;
  margin-bottom: 3rem;
  gap: 1rem;
}

.av-fisica img {
  border-radius: 15px;

}

.vazio-enfeite {
  background-color: var(--cor-p1);
  border-radius: 15px;
}

.av-fisica-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 600px;
  height: auto;
  line-height: 1.6rem;
}

.sup-wpp-box-ap {
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(81, 2, 2, 0.393);
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 35rem;
  margin-left: 1.5%;
  
}

.sup-wpp-box img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 55%;
  margin: 0;
}

.sup-img {
  width: auto;
  height: 25rem;
  margin-left: 5%;
}

.sup-wpp-main {
  grid-template-columns: 1fr 5px 1fr;
  justify-content: space-between;
}

.sup-wpp-main .vazio-enfeite {
  height: 25rem;
}

.sup-wpp {
  background: var(--cor-12);
  width: 100%;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 5rem;
}

.app-box {
  min-width: 300px;
  /* Garante que o texto não fique muito estreito em telas menores */
  width: 500px;
  background-color: var(--cor-0);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(81, 2, 2, 0.384);
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5rem;
}

.ac-app {
  width: 100vw;
  height: auto;
}

.lista-app-box li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 2rem;
}

.lista-app-box li img {
  margin-right: 20px;
  /* Espaço entre o ícone e o texto */
}

.introducao-bg-acp {
  background: var(--cor-12);
  height: 37.5rem;
}

.introducao-acp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-acp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo-acp {
  height: 50vh;
}


.detail2 {
  background-color: var(--cor-p1);
  border-radius: 15px;
}

.partes,
.ac-app,
.plano-1 img {
  max-width: 100%;
}


@media (max-width: 1024px) {
  
}

@media (max-width: 600px) {
  .introducao-bg-acp {
    flex-direction: column;
    text-align: center;
  }

  .introducao-conteudo-acp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: auto;
    max-width: 100%;
  }

  .introducao-bg-acp img {
    display: none;
  }
  .introducao-bg-acp p{
    margin: 0;
    padding: 0;
  }
  
  .ac-carousel .container{
    margin: 0;
    padding: 0;
  }
 
  .swiper {
    height: 70vh ;
    margin: 0;
    padding: 0;
  }

  .ac-carousel h2 {
    justify-self: center;
  }
}