  .feedbacks {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: #f0f0f0;
  }

  .feedback-title h2 {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .swiper {
    width: 100%;
    height: 100%
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .feedback-box {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    max-width: 37.5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 25rem;
    height: auto;
    box-shadow: 0 0 1.25rem rgba(81, 2, 2, 0.264);

  }

  .feedback-fixos {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    max-width: 100%;
    justify-content: center;
}

.feedback-fixos .feedback-box {
    width: 80%;
    max-width: max-content;
}

.feedback-fixos .feedback-box img {
    display: flex;
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-left: 5%;
    gap: 1rem;
}

.feedback-fixos .feedback-author {
    display: grid;
    text-align: left;
    margin-left: 2%;
    justify-content: center;
    align-content: center;
}

.feedback-fixos .feedback-text {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
    max-width: fit-content;
}


  .feedback-text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: var(--cor-11);
  }


  .feedback-author {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #4A4A4A;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .feedback-author span {
    margin-top: 0.5rem;
  }

  .feedback-author p {
  margin-top: 0.5rem;
  }

  .feedback-author img {
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 0.625rem;
  }

  .swiper-pagination {
    text-align: center;
    transform: translate(0, 0, 0);
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 3rem; 
  }

  @media (max-width: 1024px) {}

  @media (max-width: 768px) {  
     .feedback-fixos {
        grid-template-columns: 1fr; /* Muda para uma coluna em telas menores */
    }

    .feedback-fixos .feedback-box img {
        width: 30%; /* Ajusta a largura da imagem */
        margin-left: 0;
    }

    .feedback-fixos .feedback-author {
        margin-left: 0;
    }

    .feedback-fixos .feedback-text {
        margin: 1rem 0; /* Adiciona margem ao texto para dar mais espaçamento */
    }
  }

  @media (max-width: 600px) {  
  }

  @media (min-width: 480px) and (max-width:599px) {
    .feedback-fixos .feedback-box img {
      width: 40%; /* Ajusta mais para telas pequenas */
  }

  .feedback-fixos .feedback-author {
      text-align: center; /* Centraliza o texto do autor */
      margin-left: 0;
  }
  }

  @media (min-width:375px) and (max-width: 480px) {  
    .feedbacks {
      display: grid;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
      margin-top: 0px;
    }
    
    .feedback-title h2 {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 2rem;
    }
    
    .swiper {
      width: 100vw;
      height: 80vh;    
    }
    
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      margin-top: -2rem;
    }
    
    .feedback-box {
      background-color: white;
      padding: 1.25rem;
      border-radius: 0.625rem;
      text-align: center;
      max-width: 22.5rem;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      width: 25rem;
      height: auto;
      box-shadow: 0 0 1.25rem rgba(81, 2, 2, 0.264);
    
    }
    
    .feedback-fixos .feedback-box {
      margin-top: 1rem;
      width: 22.5rem;
    }
    
    .feedback-fixos {
      display: grid;
      grid-template-columns: 1fr;
      height: 80vh;
      max-height: auto;
      margin: 0;
      background-color: #f0f0f0;

    }
    
    .feedback-fixos .feedback-box img {
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 280px;
      gap: 1rem;
      margin-left: 2rem;
    }
    
    .feedback-fixos .feedback-author {
      display: grid;
      text-align: left;
      margin-left: 1rem;
      justify-content: center;
      align-content: center;
    }
    
    .feedback-fixos .feedback-text {
      display: flex;
      justify-self: center;
      align-self: center;
      margin: auto;
      max-width: fit-content;
      
    }
    
    
    .feedback-text {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: var(--cor-11);
    }
    
    
    .feedback-author {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: #4A4A4A;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    
    .feedback-author span {
      margin-top: 0.5rem;
    }
    
    .feedback-author p {
    margin-top: 0.5rem;
    }
    
    .feedback-author img {
      border-radius: 50%;
      width: 3.125rem;
      height: 3.125rem;
      margin-right: 0.625rem;
    }
    
    .swiper-pagination {
      text-align: center;
      transform: translate(0, 0, 0);
      z-index: 10;
      width: 80%;
      display: flex;
      justify-content: center;
      padding: 2rem;
      gap: 3rem; 
    }

  }