.feedbacks {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 160vh;
  background-color: #f0f0f0;
  margin-top: 0;
  overflow-x: hidden;
}

.feedback-title h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
}

.swiper {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: -2rem;
}

.feedback-box {
  background-color: white;
  padding: 5%;
  border-radius: 5%;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: auto;
  box-shadow: 0 0 5% rgba(81, 2, 2, 0.264);
}

.feedback-fixos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  max-width: 100%;
  max-height: fit-content;
  justify-content: center;
}

.feedback-fixos .feedback-box {
  width: 80%;
  max-width: max-content;
}

.feedback-fixos .feedback-box img {
  display: flex;
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin-left: 5%;
  gap: 1rem;
}

.feedback-fixos .feedback-author {
  display: grid;
  text-align: left;
  margin-left: 2%;
  justify-content: center;
  align-content: center;
}

.feedback-fixos .feedback-text {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: auto;
  max-width: fit-content;
}

.feedback-text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: var(--cor-11);
}

.feedback-author {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #4A4A4A;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.feedback-author span {
  margin-top: 0.5rem;
}

.feedback-author p {
  margin-top: 0.5rem;
}

.feedback-author img {
  border-radius: 50%;
  width: 10%;
  height: auto;
  margin-right: 2%;
}

.swiper-pagination {
  text-align: center;
  transform: translate(0, 0, 0);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5%;
  gap: 5%;
}

@media (max-width: 600px) {
  
  .feedbacks {
    height: fit-content;
    padding-bottom: 30%;
  }
  .feedback-fixos {
    grid-template-columns: 1fr;
    height: 80%;
  }
  
  .feedback-fixos .feedback-text {
    margin: 5% 0;
  }

  .feedback-fixos .feedback-box img {
    width: 20%;
  }

  .feedback-fixos .feedback-author {
    text-align: center;
    margin-left: 0;
  }

  .feedback-title h2 {
    padding: 0;
  }

  .swiper {
    height: 70vh ;
  }
}