.footer-bg {
  background-color: var(--cor-12);
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 2.5%;
  padding: 3% 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.footer-contato ul {
  margin-bottom: 2rem;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  width: 100%;
  max-width: 360px;
  height: 2px;
  background: var(--cor-11);
  margin-top: 1rem;
}

.footer li {
  margin-bottom: 1rem;
}

.footer-redes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 2rem;
  text-align: center;
}

/* Responsividade */
@media (max-width: 1024px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
}

@media (max-width: 768px) {
  .footer img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 5%;
    gap: 2rem;
  }
  .footer-copy {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 8%;
  }
}

@media (max-width: 375px) {
  .footer {
    margin-top: 3rem;
    padding: 10%;
  }
}
