.header-bg {
  background-color: var(--cor-12);
  overflow: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem; /* 20px -> rem */
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 5%; /* 20px -> rem, 5% para responsividade */
  overflow: hidden;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem; /* 40px -> rem */
  overflow: hidden;
}

.header-menu a {
  display: inline-block;
  padding: 1rem 0;
  position: relative;
  letter-spacing: 0.125rem;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 0.125rem;
  width: 0;
  background: var(--cor-0);
  margin-top: 0.25rem;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.hamburger {
  display: none;
  font-size: 1.75rem;
  cursor: pointer;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

@media (max-width: 1024px) {
  .header {
    padding: 1rem 3%;
  }
  .header-menu {
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .header{
    display: flex;
    flex-wrap: nowrap;  
  }
  .hamburger {
    display: block;
    color: var(--cor-0);
    width: 10%; /* 1.875rem -> 10% */
    height: 10%; /* 1.875rem -> 10% */
    cursor: pointer;
    z-index: 1001;
    position: relative;
    margin-left: 50%;
  }


  .header-menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%; /* 250px -> 100% */
    width: 60%; /* 15rem -> 60% */
    height: auto;
    background: #383837f0;
    padding: 1%; /* 1.25rem -> 5% */
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 0 0 5% 0; /* 1rem -> 5% */
    justify-content: center;
    align-items: center;
  }

  .header-menu.open {
    left: 0;
  }

  .header-menu li {
    text-align: center;
    box-shadow: 0 0 5% rgba(73, 81, 2, 0.384); /* 1.25rem -> 5% */
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    background: var(--cor-11);
    padding: 3% 5%; /* 0.75rem 1rem -> 3% 5% */
    border-radius: 2%; /* 0.25rem -> 2% */
  }

  .header-menu a:hover {
    background-color: var(--cor-10);
  }

  .header a:after {
    display: none;
  } 
  .header {
    padding: 3% 3%;
  }
  
}
