.introducao-conteudo a {
    display: flex;
    margin-top: 10px;
}

.container {
    box-sizing:content-box;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

picture {
    margin-bottom: 120px;
}

@media (max-width: 1024px) {  
}

@media (max-width: 768px) {  
}

@media (max-width: 600px) {  
}
@media (max-width: 480px) {  
}

@media (max-width: 375px) {  
}

@media (max-width: 320px) {  
}