.introducao-conteudo a {
    display: flex;
    margin-top: 10px;
}

.container {
    box-sizing:content-box;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

picture {
    margin-bottom: 120px;
}

  /* Tablets (até 1024px) */
@media (max-width: 1024px) {  
    /* Estilos para tablets */
}

/* Tablets pequenos e celulares grandes (até 991px) */
@media (max-width: 991px) {  
    /* Estilos para tablets pequenos e celulares grandes */
}

/* Celulares médios (até 768px) */
@media (max-width: 768px) {  
    /* Estilos para celulares médios */
}

/* Celulares pequenos (até 600px) */
@media (max-width: 600px) {  
    /* Estilos para celulares pequenos */
}

/* Celulares muito pequenos (até 480px) */
@media (max-width: 480px) {  
    /* Estilos para celulares muito pequenos */
}

/* Celulares extra pequenos (até 375px) */
@media (max-width: 375px) {  
    /* Estilos para iPhone SE e similares */
}

/* Celulares ultra pequenos (até 320px) */
@media (max-width: 320px) {  
    /* Estilos para celulares ultra pequenos */
}