.sobre {
  display: grid;
  height: 100vh;
  background-color: #f0f0f0;
  margin-top: -7.5rem;
  justify-content: center;
  align-content: center;

}

.sobre h2 {
  display: flex;
  justify-content: center;
}

.texto-resumido {
  display: none;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1.25rem rgba(81, 2, 2, 0.264);

}

.sobre-title {
  margin-top: -1rem;
}

.sobre img {
  border-radius: 0.625rem;
  box-shadow: 0 0 1.25rem rgba(81, 2, 2, 0.264);
  max-width: 40rem;

}

.sobre-box {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 1.25rem rgba(81, 2, 2, 0.264);
  text-align: center;
  max-width: 40rem;
  margin: auto;
  margin-bottom: 6rem;
}

.sobre-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem;
  gap: 3rem;

}

.sobre-text {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  max-width: fit-content;

}

@media (max-width: 1920px) {
  .sobre-title {
    margin-top: 2rem;
  }
}

@media (max-width: 1024px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 600px) {}

@media (min-width: 480px) and (max-width:599px) {
  .sobre {
    display: grid;
    height: 80vh;
    background-color: #f0f0f0;
    justify-content: center;
    align-content: center;

  }

  .sobre h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    padding-bottom: 1rem;
    margin-top: 8rem;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
  }

  .sobre img {
    border-radius: 0.625rem;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    margin: auto;
    width: 21.875rem;
    margin-top: 1rem;

  }

  .sobre-box {
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    text-align: center;
    margin: auto;
    width: 21.875rem;
    margin-bottom: -3rem;
  }

  .sobre-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .sobre-text {
    display: none;
  }

  .texto-resumido {
    display: block;
  }
}

@media (min-width:375px) and (max-width: 480px) {
  .sobre {
    display: grid;
    height: 80vh;
    background-color: #f0f0f0;
    justify-content: center;
    align-content: center;

  }

  .sobre h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    padding-bottom: 1rem;
    margin-top: 8rem;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
  }

  .sobre img {
    border-radius: 0.625rem;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    margin: auto;
    width: 21.875rem;
    margin-top: 1rem;

  }

  .sobre-box {
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    text-align: center;
    margin: auto;
    width: 21.875rem;
    margin-bottom: -3rem;
  }

  .sobre-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .sobre-text {
    display: none;
  }

  .texto-resumido {
    display: block;
  }
}