.sobre {
  display: grid;
  height: 120vh;
  background-color: #f0f0f0;
  margin-top: -120px;
  justify-content: center;
  align-content: center;

}

.sobre h2 {
  display: flex;
  justify-content: center;
}

.texto-resumido {
  display: none;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);

}

.sobre-title {
  margin-top: -1rem;
}

.sobre img {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
  max-width: fit-content;
  width: 41rem;
}

.sobre-box {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
  text-align: center;
  max-width: 600px;
  width: 41rem;
  margin: auto;
}

.sobre-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem;
}

.sobre-text {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  max-width: fit-content;

}

@media (max-width: 1024px) {
  .sobre {
    height: 90vh;
  }

  .sobre-container {
    display: grid;
    background-color: #f0f0f0;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    padding: 3rem 0;
  }

  .sobre-title {
    padding: 0;
    max-height: auto;
    height: fit-content;
  }

  .sobre-text {
    font-size: 0.9rem;
    text-align: justify;
  }

  .sobre img {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    max-width: fit-content;
    width: 30rem;
  }

  .sobre-box {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    text-align: center;
    max-width: 600px;
    width: 30rem;
  }
}

@media (max-width: 768px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 376px) {
  .sobre {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    background-color: #f0f0f0;
    justify-content: center;
    align-content: center;
    position: relative;

  }

  .sobre h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin-top: -7rem;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);

  }

  .sobre img {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    position: absolute;
    right: 0.75rem;
    bottom: 3rem;
    width: 350px;

  }

  .sobre-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(81, 2, 2, 0.264);
    text-align: center;
    margin: auto;
    width: 350px;
    margin-top: -10rem;
  }

  .sobre-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sobre-text {
    display: none;
  }

  .texto-resumido {
    display: block;
  }
}